/* Grid Style*/
#company-name {
              float: right;
}

#alertSelection {
                display: none;
}

thead {
       background-color: #d8eeff;
       font-weight: 600;
}

td {
    width: 250px;
}